<div class="container mt-5">
  <h1>Artworks</h1>
  <ul id="offers">
    <% @offers.each_slice(3) do |group| %>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <% group.each do |offer| %>
          <div class="col-4">
            <div class="card h-100">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Nom : <%= link_to offer.title, offer_path(offer) %></h5>
          <p class="card-text">Description : <%=offer.content%></p>
          <p class="card-text">Category : <%=offer.category%></p>
          <p class="card-text">Prix : <%=offer.price%> €</p>
          <a href="#" class="btn btn-primary">Louer</a>

        </div>
      </div>
            <% if offer.photo.key %>
              <%= cl_image_tag offer.photo.key, width: 200, height: 200, crop: :fill %>
            <% end %>
              <div class="card-body">
                <div class="boxcard">
                  <h5 class="card-title"><%= link_to offer.title, offer_path(offer) %></h5>
                  <p class="card-text"><%=offer.price%> €/day</p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </ul>
</div>

